@tailwind base;
@tailwind components;
@tailwind utilities;

/* Next Theme と相性が悪いためコメントアウト */
/*html,*/
/*body {*/
/*  @apply bg-white dark:bg-gray-950;*/
/*  @media (prefers-color-scheme: dark) {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/

/* Hide firebase emulator warning in local development */
.firebase-emulator-warning {
  display: none;
}

/* belows are for @assistant-ui/react ai dialog button color */
.aui-button {
  background-color: #523cf5;
}

.aui-button:hover {
  background-color: #523cf5;
}
